#developinfoleft
  #developinfofaces
    - @pages.each do |staff|
      .developerinfofacebox{:dev=>"#{staff.id}"}
        = image_tag staff.last_photo_url, :size=>"26x29"
  #developinfobubbles
  #developinfopicture
#developinforight
  #developinforightcontainer1
  #developinforightcontainer2
  #developinfotextcontainer
    #developername.pagecomment
    - @pages.each do |profile|
      = profile.title
      #developerrange
        = profile.subtitle
      #developercomment
        = profile.content
      #medailcontainer
        .frameworkicon
        .frameworkicon
        .frameworkicon
        .frameworkicon
        .frameworkicon
%br
#bodyseparator

:javascript
  function setdevelopersinfo(){
    /*Set developer info*/
    developersinfoarray=new Array;
    developersinfoarray[0]=new Array("url('../images/dev.png')","jose luis","Developer","XXXXXXXXXXXX XXXXXXXXXXXX XXXXXXXXX XXXXXXXXXXX XXXXXXXXXXXXX XXXXXXXXXXXX XXXXXXXXXXXX ...","");
    developersinfoarray[1]=new Array("url('../images/picturedeveloper1.png')","Abraham Barrera","Desarrollador","Desde pequeño le gustó crear cosas, y ...","");

    /*Set developer medails*/
    developermeadils=new Array;
    developermeadils[0]=new Array("php","sql");
    developermeadils[1]=new Array("php","ruby","sql");
  }
  function medails(developercode){
    var strmedails="";
    for (var i=0; i<=((developermeadils[developercode].length)-1); i++){
      strmedails+="<div class='frameworkicon'>"+developermeadils[developercode][i]+"</div>";
    }
    $("#medailcontainer").html(strmedails);
  }
  $(document).ready(function(){
    setdevelopersinfo();
             /*$("#bodywrapper").css({'background-color' : '#2c5283', 'margin' : '127px 0 0'});
             $("#pagecomment").html("Contactanos<br>");	*/
    $("#bodywrapper").css("height","1410px");

    $(".developerinfofacebox").click(function(){

      $("#developinfopicture").css("background-image",developersinfoarray[$(this).attr("dev")][0]);

      $("#developername").html(developersinfoarray[$(this).attr("dev")][1]);
      $("#developerrange").html(developersinfoarray[$(this).attr("dev")][2]);
      $("#developercomment").html(developersinfoarray[$(this).attr("dev")][3]);

      medails($(this).attr("dev"));

    });
  });
