= semantic_form_for [:admin, @post], :html =>{ :multipart => true} do |f|
  = f.inputs "Create new blog post" do
    = f.input :title
    = f.input :content, :input_html => {:rows => '10'}
    = f.input :blog_list, :label => "Tags for this post"
    = f.semantic_fields_for :photos do |photo|
      = render 'photo_fields', :f => photo
    = f.semantic_fields_for :videos do |video|
      = render 'video_fields', :f => video
    .links
      = link_to_add_association 'Add image', f, :photos
      = link_to_add_association 'Add video', f, :videos
    = f.hidden_field :tag_list, :value => "blog"
  = f.buttons :commit
